.containerJobsOne {
  background-color: #0788FF;
  display: grid;
  justify-content: center;
  padding: 3vw;
}

.JobsOne {
  color: white;
  display: grid;
  margin: 0 auto;
  height: auto;
  font-size: 1.2vw;
  font-weight: 500;
  width: 15vw;
}

.selectJobs {
  background-color: white;
  border: 0.15vw solid black;
  border-radius: 0.3vw;
  color: rgb(128, 128, 128);
  height: 2vw;
  font-size: 1vw;
  font-weight: 900;
}

.containerJobs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.containerJob {
  border: 0.2vw solid black;
  background-color: white;
  box-shadow: 0.3vw 0.3vw 0.5vw 0 rgba(0, 0, 0, 0.65);
  display: grid;
  justify-content: center;
  height: 15vw;
  margin: 2vw;
  padding: 1vw;
  width: 15vw;
}

.titleJob {
  text-align: center;
  font-size: 1.5vw;
}

.paragraphJob {
  margin: 1vw auto;
  text-align: center;
  font-size: 1vw;
  width: 5vw;
}
