.containerJobsTwo {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 2vw;
}

.titleJobsTwo {
  font-size: 1.5vw;
}

.btnJobsSubimid {
  background-color: #0788FF;
  border: none;
  border-radius: 0.4vw;
  color: white;
  cursor: pointer;
  padding: 1vw;
  font-size: 1vw;
  font-weight: 700;
}